.main-component {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  width: 80vw;
}
.main-component h1 {
  display: flex;
  justify-content: center;
  color: white;
}
form {
  display: block;
}
form output {
  color: white;
}
form label {
  color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
}
form label div {
  display: flex;
  justify-content: center;
}
form label p {
  display: block;
  text-align: center;
  user-select: none;
}
.length {
  display: block;
}
#length {
  width: 100%;
}
form label select {
  width: 100%;
}
form button {
  display: flex;
  margin: 15px auto;
  cursor: pointer;
  background: #305dc9;
  border: none;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  padding: 8px;
  box-shadow: white 0 0 8px;
  color: white;
}
